<!doctype html>
<html>
<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="js/jquery-barIndicator.js"></script>
<!--<link rel="stylesheet" type="text/css"  href="css/test.css">-->
<link rel="stylesheet" type="text/css"  href="css/bi-style.css">
	<title>Meadowlark Travel</title>
</head>
<body>
	<h1 id="compact">Hello</h1>
	{{{body}}}
</body>
</html>
