<div id="first">
Company:<br>
<input type="text" name="typeahead" id="ajax" placeholder="Type your Query">
<div id="testing"></div>

<br>
<select name="ratio" class="ratio_class" id="ratio" placeholder="Add a stat">
	<option value="Add a stat"> </option>
  	<option value="ratio1">ratio1</option>
 	<option value="ratio2">ratio2</option>
	<option value="ratio3">ratio3</option>
  	<option value="ratio4">ratio4</option>
</select><br><br>
</div>
<div id="first_answer">  </div>
<button id="button">button 1</button>
</div>
<div id="second"></div>

<div id="second_answer"> </div>

<div id="third"> </div>
<div id="fourth"> </div>


<div id="third_answer"> </div>
<script src="js/matrix.js">	</script>

