<p id="heading"> Create a New Account</p>
		<p>Come join the Invezart community!Let's setup your account.Already have one?<a>Sign in here.</a></p>
		<p>Create an account</p>
		<form action="/process" method="post">
			First Name:<br>
			<input type="text" name="first_name" placeholder="First Name"><br>
			Last Name:<br>
			<input type="text" name="last_name" placeholder="Last Name"><br>
			Email Id:<br>
			<input type="text" name="email" placeholder="Email"><br>
			Password:<br>
			<input type="password" name="password" placeholder="Password"><br>
			<input type="submit" value="Submit">
		</form>
		<hr>