Company:<br>
<input type="text" name="typeahead" id="ajax2" placeholder="Type your Query">
<div id="testing2"></div>

<br>
<select name="ratio" id="ratio2" placeholder="Add a stat">
  	<option value="ratio1">ratio1</option>
 	<option value="ratio2">ratio2</option>
	<option value="ratio3">ratio3</option>
  	<option value="ratio4">ratio4</option>
</select><br><br>
<button id='button2'> button 2 </button>

<script src="js/matrix2.js"> </script>
